html {
    background-color:   #35322f;
    color:              #cbc5c1;
    
    -webkit-font-smoothing: antialiased;
}

body {
    font-family:        'Source Code Pro',
                        monospace;
    font-size:          1.2em;
    line-height:        1.5;
    margin:             0 auto;
    padding:            4em 1.3em;
    width:              28em;
}

h2, h3 {
    margin:             2em 0 0;
}

ul li:first-child h3 {
    margin-top:         0;
}

a {
    color:              inherit;
}

hr {
    border-style:       dotted none none;
    border-width:       0.2em;
    margin:             4.8em auto 0;
    outline:            none;
    width:              50%;
}

.logo {
    display:            block;
    margin:             0 auto 1.6em;
}

.cursor {
    margin-top:         -1em;
    padding-left:       0.1em;
    vertical-align:     bottom;
}

.button {
    background-color:	#cbc5c1;
    border-radius:      6rem;
    color:              #35322f;
    display:            block;
    font-size:          2em;
    line-height:        6rem;
    margin:             1em auto;
    text-align:         center;
    text-decoration:    none;
    width:              4em;
    
    -webkit-font-smoothing: subpixel-antialiased;
}

.centre {
    text-align:         center;
}